/* Estilo card de productos */
.card img {
  width: 100%;
  height: auto;
  max-height: 250px;  /* opcional para que no quede demasiado grande */
  object-fit: contain; /* ajusta la imagen dentro de la card sin recortar */
}
